{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{% url 'index' %}" class="brand-link">
   
    <img class="brand-image img-circle elevation-3" src="{{ logo.imagen.url}}" alt="AdminLTE Logo" > 

    <span class="brand-text font-weight-light">AdminLTE 3</span>
  </a>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'assets/img/user2-160x160.jpg' %}"
             class="img-circle elevation-2"
             alt="User Image">
      </div>
      <div class="info">
        <a href="{% url 'perfil' perfil.id %}" class="d-block">{{user}}</a>
      </div>
    </div>
    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar"
               type="search"
               placeholder="Search"
               aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}"><i class="nav-icon fa fa-dashboard" aria-hidden="true"></i>Dashboard</a>
        </li>
        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
        <ul class="nav nav-pills nav-sidebar flex-column">
          <li class="nav-item menu-open">
            <a href="#" class="nav-link">
              <i class="fa fa-list nav-icon" aria-hidden="true"></i>
              <p>
                transacciones
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'gastos' %}" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ingrese sus gastos</p>
                </a>
              </li>
              <!-- <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Crear</p>
                </a>
              </li> -->
            </ul>
          </li>
          {% if user  %}
          <li class="nav nav-header">
            <p>Cuenta de Usuario</p></li>
          <li class="nav-item">
            <a href="{% url 'perfil' perfil.id %}" class="nav-link">
              <i class="fa fa-user
              nav-icon" aria-hidden="true"></i>
              <p>
                Perfil
              </p>
            </a>
          </li>
          {% if fuser.get.is_staff == True %}
          <li class="nav-item">
            <a href="{% url 'admin:index' %}" class="nav-link">
              <i class="fa fa-user nav-icon" aria-hidden="true"></i>
              <p>
                Admin
              </p>
            </a>
          </li>
          
          {% endif %}
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link">
              <i class="fa fa-sign-out nav-icon" aria-hidden="true"></i>
              <p>
                Salir
              </p>
            </a>
          </li>
          {% endif %}
        </ul>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
